.right-allResources-cell {
  width: 0px;
  border: none;
}

.all-resources-table {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  align-self: flex-start;
  text-align: center;
}

.all-resources-table > .left-cell {
  width: 120px;
  text-align: center;
}