.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.shipcore-table {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h4 {
  margin-bottom: 5px;
}

.Table {
  border-spacing: 0px;
  background: #fff;
  box-shadow: 0 1px 0 0 rgba(22, 29, 37, 0.05);
}

.Cell {
  border: 1px solid black;
  padding: 4px;
  text-align: left;
}

.left-cell {
  width: 150px;
}

.middle-cell {
  width: 125px;
}

.right-cell {
  width: 30px;
  text-align: center;
}
